apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - namespace.yaml

patches:
  - path: patch-replicas.yaml
    target:
      kind: Deployment
      name: myapp  # the name of the deployment you want to patch

namePrefix: dev-